@use 'src/scss/colors';

.register {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .register-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid colors.$stroke;
    padding: 60px 30px;
    border-radius: 10px;
  }

  .register-form-message {
    font-weight: bold;
    color: colors.$gray;
    width: 100%;

    @media (min-width: 270px) {
      width: 270px;
    }
  }

  .register-form-logo {
    height: 48px;
    width: auto;
  }

  .register-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      padding: 10px;
      border: 1px solid colors.$stroke;
      border-radius: 5px;
      width: 100%;

      @media (min-width: 270px) {
        width: 270px;
      }
    }
  }
}
