@use 'src/scss/colors';

.ButtonFollow {
  border: 0;
  color: colors.$primary;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: colors.$secondary;
}

.ButtonUnfollow {
  border: 0;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: colors.$dark;
  background: colors.$stroke;
}
