@use 'src/scss/colors';

.ButtonFollow {
  border: 0;
  color: colors.$white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: colors.$blue;
}

.ButtonUnfollow {
  border: 0;
  color: black;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: colors.$white;
}
