@use 'src/scss/colors';

.suggestions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title {
    color: colors.$white;
    font-size: 1.5rem;
  }

  .suggestionsitems-container {
    min-width: 470px;
    border: 1px solid colors.$gray-25;
  }
}

.suggestionitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  p {
    margin: 0;
  }

  &>div {
    display: flex;
    gap: 1rem;
  }

  .suggestionitem-username {
    color: colors.$white;
  }

  .suggestionitem-fullname {
    color: colors.$gray;
  }
}
