@use 'src/scss/colors';

.suggestions-container {
  .title {
    color: colors.$white;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    width: max-content;
  }

}

.suggestionsitems-container {
  width: 100%;
  border: 1px solid colors.$gray-25;
}

.suggestionitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  p {
    margin: 0;
  }

  &>div {
    display: flex;
    gap: 1rem;
  }

  .suggestionitem-username {
    color: colors.$white;
  }

  .suggestionitem-fullname {
    color: colors.$gray;
  }
}

@media screen and (min-width:470px) {
  .suggestions-container {
    width: 470px;
  }
}
