@use 'src/scss/colors';

.home {
  box-sizing: border-box;
  width: 100%;

  .home-posts {
    margin-top: 4rem;
    margin-bottom: 48px;
  }
}

.copyright {
  padding-top: 1rem;
  color: colors.$gray-25;
  font-size: 0.75rem;
}

.home-accountinfo {
  display: none;
}

.home-content {
  padding: 10px 0;

  @media (min-width: 768px) {
    padding: 0;
  }
}

@media screen and (min-width: 470px) {
  .home {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
}

@media (min-width: 768px) {

  .home {
    .home-posts {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .home-accountinfo {
    display: block;
  }

}
