@use 'src/scss/colors';

.home {
  box-sizing: border-box;

  section {
    margin-left: auto;
    width: calc(100% - 244px);

    &>div {
      padding-top: 2rem;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      gap: 5rem;
    }
  }
}

.copyright {
  padding-top: 1rem;
  color: colors.$gray-25;
  font-size: 0.75rem;
}
