@use 'src/scss/colors';

.profile {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  max-width: 935px;
  margin: auto;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profile-navbar-item {
  font-size: 1.5rem;
  padding: 0.25rem 0;

  @media (min-width: 768px) {
    font-size: 1rem;
  }

  &.active {
    border-top: 1px solid colors.$dark;
    color: colors.$primary;
  }
}

.profile-posts {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 0.25rem;

  div {
    flex-basis: calc((100% / 3) - 0.19rem);
    background-color: colors.$stroke;
    aspect-ratio: 1/1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.profile-stats {
  display: flex;
  padding: 0.5rem 0;
  border-top: 1px solid colors.$stroke;

  @media (min-width: 768px) {
    border: 0;
  }
}
