.post-interactive {

  .post-interactive-buttons {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;

    &>div {
      display: flex;
      gap: 1rem;
    }

  }

  .post-countlikes {
    font-weight: 600;
  }
}
