@use 'src/scss/colors';

.post-interactive {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .post-interactive-buttons {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;

    &>div {
      display: flex;
      gap: 1rem;
    }

  }

  .post-countlikes {
    font-weight: 600;
    margin: 0;
  }

}

.btn-showcomments {
  border: 0;
  padding: 0;
  background: transparent;
}
