@use 'src/scss/colors';
@use 'src/scss/sizes';

.navbar-container {
  position: fixed;
  height: 48px;
  width: 100%;
  border-top: 1px solid colors.$gray-25;
  background-color: black;
  bottom: 0;
  z-index: 5;
  display: flex;
}

.navbar-logo {
  display: none;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: colors.$white;
  height: 48px;
  width: 48px;
  font-size: 24px;
  text-decoration: none;

  .userpicture {
    @include sizes.setWidthAndHeight(1.5rem);
  }

  span {
    display: none;
  }

  &.active {
    font-weight: bold;
  }
}

.navbar-items-container {
  display: flex;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-container {
    width: 72px;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0.75rem;
    flex-direction: column;
    border-right: 1px solid colors.$gray-25;
  }

  .navbar-items-container {
    flex-direction: column;
  }
}

@media (min-width: 1260px) {
  .navbar-logo {
    display: block;
    height: 2rem;
    width: auto;
    margin: 2rem 0;
  }

  .navbar-container {
    width: 244px;
    padding: 1rem;
    align-items: flex-start;
  }

  .navbar-items-container {
    width: 100%;
  }

  .navbar-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0.5rem;
    padding-left: 0.5rem;

    i,
    .userpicture {
      transform: scale(1);
      transition: 0.15s;
    }

    &:hover {
      background-color: colors.$gray-op-15;
      transition: 0.25s background-color;
      color: colors.$white;

      i,
      .userpicture {
        transform: scale(1.1);
        transition: 0.15s;
      }
    }



    span {
      display: inline;
      padding-left: 0.5rem;
      font-size: 1rem;
    }
  }
}
