.likebutton {
  border: 0;
  background-color: transparent;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
}

.likebutton-animation {
  color: #ff3040 !important;
  animation: likebutton-animation;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
}

@keyframes likebutton-animation {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(.95);
  }

  100% {
    transform: scale(1);
  }
}
