@use 'src/scss/colors';

.inputcomment {
  padding: 0 10px;

  p {
    white-space: pre-wrap;
  }

  .inputcomment-input {
    display: flex;
    gap: 5px;
  }

  textarea {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    width: 100%;
    max-height: 60px;
    font-size: 14px;

    &:focus {
      outline: 1px solid colors.$stroke;
    }
  }

  button {
    border: 0;
    background: transparent;
    color: #0095f6;

    &:hover {
      color: darken($color: #0095f6, $amount: 10);
    }
  }
}
