.post-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
}

.post-ownerinfo {
  display: flex;
  align-items: center;
  gap: 10px;

  .ownerinfo-name {
    font-weight: 500;
    margin: 0;
  }
}

@media screen and (min-width: 470px) {
  .post-header {
    padding-left: 0;
    padding-right: 0;
  }
}
