.post-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post-ownerinfo {
  display: flex;
  align-items: center;
  gap: 10px;

  .ownerinfo-name {
    font-weight: 500;
    margin: 0;
  }
}
