@use 'src/scss/colors';
@use 'src/scss/sizes';

.AccountWidget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .AccountWidget-ownerinfo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .userpicture {
    @include sizes.setWidthAndHeight(56px);
  }
}

.btn-changeaccount {
  border: 0;
  background-color: transparent;
  color: colors.$primary;
}

.ownerinfo-names.placeholder-container {
  line-height: 1.2rem;
  font-size: 0.75rem;
}

.ownerinfo-username {
  color: colors.$dark;
  font-weight: 600;
  margin: 0;
}

.ownerinfo-fullname {
  color: colors.$gray;
  font-size: 14px;
  margin: 0;
}

.ownerinfo-username.placeholder {
  color: colors.$dark;
  font-weight: 600;
  margin: 0;
  min-width: 150px;
  display: block;
  margin-bottom: 0.5rem;
}

.ownerinfo-fullname.placeholder {
  color: colors.$gray;
  font-size: 14px;
  min-width: 120px;
  margin: 0;
  display: block;
}
