@use 'src/scss/colors';
@use 'src/scss/sizes';

.AccountWidget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  .AccountWidget-ownerinfo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .userpicture {
    @include sizes.setWidthAndHeight(56px);
  }
}

.btn-changeaccount {
  border: 0;
  background-color: transparent;
  color: colors.$blue;
}

.ownerinfo-names {
  line-height: 1.2rem;
}

.ownerinfo-username {
  color: colors.$white;
  margin: 0;
}

.ownerinfo-fullname {
  color: colors.$gray;
  margin: 0;
}
