$error: #e73b3b;
$blue: #0095f6;
$blue-25: darken($blue, 25);
$bluesky: #4cb5f9;
$white: white;
$gray: #78716C;
$gray-op-15: rgba($gray, 0.15);
$gray-25: darken(#A8A8A8, 25);

$primary: #19725D;
$secondary: #86EFAC;
$stroke: #E0E2E5;
$background: #FAFAF9;
$dark: #292524;
$post: #F5F5F4;
