@use 'src/scss/colors';

$primary: colors.$primary;
$secondary: colors.$secondary;
$background: colors.$background;
$stroke: colors.$stroke;
$gray: colors.$gray;
$dark: colors.$dark;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "background": $background,
  "stroke": $stroke,
  "gray": $gray,
  "dark": $dark,
);

body {
  background: $background;
  color: $dark !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
